/**
 * The following styles get applied both on the front of your site
 * and in the editor.
 *
 * Replace them with your own styles or remove the file completely.
 */

.store-blocks-product-table {
	width: 100%; 
	overflow-x: auto; 
	border-collapse: collapse;
	border:1px solid #ddd;
	table-layout: auto;
	th, td {
		border-bottom: 1px solid #ddd;
		border-collapse: collapse;
		padding: 8px; 
	}
	.quantity{
		width: 40px;
	}
	button{
		border: none;
		background-color: none;

		.dashicons-cart{
         font-size: 22px;
		 margin-top: -4px;
		}
	}

	/* Responsive styles */
	@media (max-width: 425px) {
		th, td {
			font-size: 12px;
			padding: 6px;
		}
	}

	@media (max-width: 768px) {
		th, td {
			font-size: 14px;
			padding: 7px;
		}
	}

	@media (max-width: 1024px) {
		th, td {
			font-size: 16px;
			padding: 8px;
		}
	}

	@media (min-width: 1025px) {
		th, td {
			font-size: 18px;
			padding: 10px;
		}
	}
}
